::selection {
  background: rgba(0,0,0,0.03);
  color: var(--color-primary);
}

html, body {
  font-family: var(--font-family-serif);
  color: var(--color-black);
  background: var(--color-white);
  font-size: 24px;
  line-height: 36px;
}

p + p {
  margin-top: 0.5em;
}

a {
  color: currentColor;
  text-decoration: none;
  border-bottom: solid 1px currentColor;
}
a:hover {
  border: none;
}

.dg.ac {
  z-index: 11 !important;
}

header {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  pointer-events: none;
  height: calc( 100vh + 120px );
  padding: 0 20px;
}
header .columnContainer {
  margin: 10px auto;
  position: sticky;
  top: 10px;
}
header .title {
  cursor: pointer;
  pointer-events: initial;
}

footer {
  font-family: var(--font-family-regular);
  font-size: 14px;
  padding: 0 20px;
}

#threeCanvas {
  background: linear-gradient(
    180deg,
    #7E3320 0%,
    #E6694B 100%
  );
  width: 100vw;
  z-index: 0;
}
#threeCanvas.--isClick {
  cursor: pointer;
}

#projectList {
  padding: 100px 20px;
}

.columnContainer {
  width: 100%;
  max-width: 1200px;
  margin: 60px auto;

  display: flex;
  display: grid;
  grid-template-columns: 160px 160px auto;
}

.project {
  cursor: pointer;
}
.project:hover {
  color: var(--color-primary);
}

.project_num,
.project_title {
  font-family: var(--font-family-regular);
  font-size: 14px;
  font-weight: 500;
}