::selection {
  background: rgba(0,0,0,0.03);
  color: var(--color-primary);
}

html, body {
  font-family: var(--font-family-serif);
  color: var(--color-black);
  background: var(--color-white);
  font-size: 24px;
  line-height: 36px;
}

p + p {
  margin-top: 0.5em;
}

a {
  color: currentColor;
  text-decoration: none;
  border-bottom: solid 1px currentColor;
}
a:hover {
  border: none;
}

hr {
  display: block;
  width: calc( 100vw - 40px );
  max-width: 1200px;
  margin: 0 auto;
  border: none;
  border-top: solid 1px #ccc;
}

.dg.ac {
  z-index: 11 !important;
}

header {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  pointer-events: none;
  height: calc( 100vh + 120px );
  padding: 0 20px;
  transition: height 1s;
}
.isProject header {
  height: calc( 100vh + 100px - 200px );
}

header .columnContainer {
  margin: 10px auto;
  position: sticky;
  top: 10px;
}
header .title h1 {
  cursor: pointer;
  pointer-events: initial;
  display: inline;
}
.objectTitle {
  /* margin-left: 0.3em; */
  display: inline;
  font-family: var(--font-family-regular);
  /* text-transform: uppercase; */
  font-size: 0.7em;
  letter-spacing: 0.03em;
  font-weight: 500;
}
.isProject .objectTitle::before {
  content: "———";
  letter-spacing: -0.1em;
  margin: 0 0.3em;
}
footer {
  font-family: var(--font-family-regular);
  font-size: 14px;
  padding: 0 20px;
}

#threeCanvas {
  background: linear-gradient(
    180deg,
    #7E3320 0%,
    #E6694B 100%
  );
  width: 100vw;
  z-index: 0;
  transition: height 1s;
}
#threeCanvas.--isClick {
  cursor: pointer;
}

#gravitySelector {
  position: absolute;
  bottom: 20px;
  right: 20px;
  z-index: 2;
}
#gravitySelector.isHidden {
  display: none !important;
}

.isProject #projectInfo {
  height: 200px;
  opacity: 1;
}
#projectInfo {
  height: 0px;
  opacity: 0;
  transition: all 0.8s;
  padding: 0 20px;
}
#projectInfo .columnContainer {
  margin-top: 20px;
}

#projectList {
  padding: 100px 20px;
}

.columnContainer {
  width: 100%;
  max-width: 1200px;
  margin: 60px auto;

  display: flex;
  display: grid;
  grid-template-columns: 160px 160px auto;
}

.project {
  cursor: pointer;
}
.project:hover {
  color: var(--color-primary);
}
.project.notReadyYet {
  cursor: default;
  color: #ccc !important;
}

.project_num,
.project_title {
  font-family: var(--font-family-regular);
  font-size: 14px;
  font-weight: 500;
}

#projectDescription {
  padding: 50px 20px;
}


@media screen and (max-width: 720px) {
  .columnContainer {
    display: block
  }
}