::selection {
  background: rgba(0,0,0,0.03);
  color: var(--color-primary);
}

html, body {
  font-family: var(--font-family-serif);
  color: var(--color-black);
  background: var(--color-white);
  font-size: 24px;
  line-height: 36px;
}

h2 {
  font-size: 32px;
  text-align: center;
}

h3 {
  font-family: var(--font-family-regular);
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 10px;
}

p + p {
  margin-top: 0.5em;
}

hr {
  border: none;
  text-align: center;
  width: 100%;
}
hr:before {
  content: "—";
}

nav {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 10;
  font-family: var(--font-family-regular);
  color: var(--color-white);
}
nav .inner {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: var(--padding);
}

header {
  background: var(--color-primary);
  height: 600px;
  width: 100vw;
  color: #FFF;
}
.header_inner {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--padding);
}

header img {
  zoom: 0.5;
  max-width: 100%;
  max-height: 140vh;
}

.grayBG {
  background: var(--color-gray);
}
.colorBG {
  background: var(--color-primary);
}
.imageBG {
  background-size: cover;
  min-height: 600px;
  background-position: center center
}

.objectDesc {
  max-width: 420px;
}

.objectContainer {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 0;
}

.objectContainer-50 {
  padding: 0;
  height: 600px;
}
