:root {

  /* fonts */
  --font-family-regular: 'DM Sans', sans-serif;
  --font-family-serif: 'Crimson Text', serif;
  /*--font-family-mono: 'Space Mono', monospace;*/

  /* colors */
  --color-white: #FFF;
  --color-gray: #EAE6E5;
  --color-black: #131313;

  --color-primary: #E46240;
  --color-secondary: #262628;

  /* sizes */
  --padding: 10px;

  --max-width: 1200px;
  --max-width-text: 560px;

}

/*@media (prefers-color-scheme: dark) {
  :root {
    --color-font:        #eee;

    --color-bg:          #232429;
    --color-highlight:   #f0f;
  }
}*/
